.backbtn{
margin-top: 10px;

}


.btn {
    transition-duration: 0.4s;
    background-color: white;
    border-width: 1px;
    border-radius: 4px;
   
  }
  
  .btn:hover {
    background-color: black; 
    color: white;
    border-radius: 4px;
  }

.container{
    color: red;
    position: inherit;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    border-color: #4CAF50;

}

h2{
    color: black;
    size: 50px;
}
.text{
   color: black;
   border: none;
}

.form{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    margin-left: 10px;
}